# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.pyenv/
env/
venv/

# Packaging
dist/
build/
*.egg-info/

# Editor/OS files
.vscode/
.DS_Store

# Coverage reports
htmlcov/
.coverage

# Pytest cache
.pytest_cache/